{% extends "base.html" %}
{% block links %}<link rel="stylesheet" href="{{ url_for('static', filename='employee.css') }}"/>{% endblock %}
{% block title %}Post Employee{% endblock %}
{% block content %}
    <form method="post">
        <h1>Post Employee</h1>
        <select name="employee" id="employee">
            {% for employee in emp %}{% if employee['employee_id']|int == empid|int %}
            <option value="{{ employee['employee_id'] }}" selected>{{ employee['employee_id'] }} - {{ employee['emp_name'] }}</option>
            {% else %}<option value="{{ employee['employee_id'] }}" >{{ employee['employee_id'] }} - {{ employee['emp_name'] }}</option>{% endif %}{% endfor %}
        </select><br/>
        <select name="resort" id="resort">
            {% for resort in resortlist %}
            <option value="{{ resort['resort_id'] }}">{{ resort['resort_name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="text" name="desg" id="desg" placeholder="Enter designation" required/>
        <button type="submit">Add Posting</button>
        {% for message in get_flashed_messages() %}
            <input class="flash" value=" {{ message }} " readonly/>
        {% endfor %}
    </form>
{% endblock %}
