{% extends 'base.html' %}
{% block links %}<link rel="stylesheet" href="{{ url_for('static', filename='resort.css') }}">{% endblock %}
{% block title %}Update Employee{% endblock %}
{% block content %}
    <form method="post">
        <h1>Update Employee</h1>
        <input class="input" type="text" id="newemp" name="newemp" placeholder="Enter Employee Name" value="{{ emp['emp_name'] }}" required/><br>
        <input class="input" type="number" id="phoneno" name="phoneno" placeholder="Enter phone number" value="{{ emp['phoneno'] }}" required/><br>
        <input class="input" type="text" id="address" name="address" placeholder="Enter address" value="{{ emp['address'] }}" required/><br>
        <input class="input" type="number" id="salary" name="salary" placeholder="Enter salary" step=".01" value="{{ emp['salary'] }}" required/><br>
        
        <button type="submit">Update</button>
        {% for message in get_flashed_messages() %}
            <input class="flash" value=" {{ message }} " readonly/>
        {% endfor %}
    </form>
{% endblock %}