body {
    background-color: cornflowerblue;
    max-width: 360px;
    margin: auto;
    padding-top: 8%;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 12px;
    padding: 15%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form .input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: cornflowerblue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 0 0 15px;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.flash {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    color: red;
    border: 1px red dashed;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}