<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
       <div class="logo">
           <a href="{{ url_for('auth.index') }}"><h1 class="logo-text"><span>Romeo</span>Resorts</h1></a>
        </div>
        <ul class="nav">
            <li>
                <a href="">Guests</a>
                <ul>
                    <li><a href="{{ url_for('guest.addguest') }}">Add Guest</a></li>
                    <li><a href="{{ url_for('guest.guestlist') }}">Guest List</a></li>
                    <li><a href="{{ url_for('guest.checkinlist') }}">Checked-in Guests</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Employee</a>
                <ul>
                    <li><a href="{{ url_for('emp.registeremployee') }}">Add Employee</a></li>
                    <li><a href="{{ url_for('emp.employeelist') }}">Employee List</a></li>
                    <li><a href="{{ url_for('emp.postinglist') }}">Posting List</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Resorts</a>
                <ul>
                    <li><a href="{{ url_for('resort.addresort') }}">Add Resort</a></li>
                    <li><a href="{{ url_for('resort.resortlist') }}">Resort List</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> {{ session['admin'] }}</a>
                <ul>
                    <li><a href="{{ url_for('adm.chngpasswd') }}">Change Password</a></li>
                    <li><a href="{{ url_for('adm.getadminlist') }}">Get Admin List</a></li>
                    <li><a href="{{ url_for('adm.addadmin') }}">Add Admin</a></li>
                    <li><a href="{{ url_for('adm.rmvadmin') }}">Remove Admin</a></li>
                    <li><a class="logout" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>